.softSkillsView {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* background: rgb(13, 0, 76);
    background: linear-gradient(90deg,
            rgba(226, 6, 111, 1) 24%,
            rgba(13, 0, 76, 1) 70%); */

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 100px;
}
